<ion-header>
  <ion-toolbar>
    <ion-title>Lanche</ion-title>
     
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/lanche/coxinha.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Salgados</ion-card-subtitle>
      <ion-card-title>Coxinha</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 3,99
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/lanche/esfira_carne.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Salgados</ion-card-subtitle>
      <ion-card-title>Esfira De Carne</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 2,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/lanche/Pao_de_queijo.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Salgado</ion-card-subtitle>
      <ion-card-title>Pão De Queijo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 1,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/lanche/pastel_queijo.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Salgado</ion-card-subtitle>
      <ion-card-title>Pastel de Queijo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 4,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/lanche/risole_carne.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Salgado</ion-card-subtitle>
      <ion-card-title>Risole De Carne</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 1,99
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer style="text-align: center;">
  <ion-button  routerLink="/"color="danger">Voltar</ion-button> 
</ion-footer>
