<ion-header>
  <ion-toolbar>
    <ion-title>Pratos de Entrata e Refeição</ion-title>
     
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/prato_entrada_refeicao/bruchettas.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Entrada</ion-card-subtitle>
      <ion-card-title>Bruchettas com Tomate Cereja e Queijo Roquefort</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 34,99
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/prato_entrada_refeicao/canapes.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Entrada</ion-card-subtitle>
      <ion-card-title>Canapés de Queijo Gouda e Ervas Finas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 44,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/prato_entrada_refeicao/lasanha.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Refeição</ion-card-subtitle>
      <ion-card-title>Lasanha à bolonhesa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 59,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/prato_entrada_refeicao/risoto_camarao.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Refeição</ion-card-subtitle>
      <ion-card-title>Risoto De Camarão</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 69,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/prato_entrada_refeicao/salmao.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Refeição</ion-card-subtitle>
      <ion-card-title>Salmão Grelhado ao Molho de Ervas Finas com Salada</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 79,99
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer style="text-align: center;">
  <ion-button  routerLink="/"color="danger">Voltar</ion-button> 
</ion-footer>
