<ion-header>
  <ion-toolbar>
    <ion-title>Prato do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-title>Promoção</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <img class="imgproduto" src="/../../../assets/imagens/prato_dia/prato_do_dia.jpg"/>
        <ion-card-header>
        <ion-card-title>Combo Promocional</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        1 Bruchetta + 1 lasanha à Bolonhesa+ 1 Pudim de Leite Condensado
         <br>
         <br>
         Hoje por apenas R$ 32,99 
         
      </ion-card-content>
    </ion-card>
  
  </ion-content>

</ion-content>

<ion-footer style="text-align: center;">
  <ion-button  routerLink="/"color="danger">Voltar</ion-button> 
</ion-footer>

