<ion-header>
  <ion-toolbar>
    <ion-title>Sobremesa</ion-title>
     
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/sobremesas/mousse_maracuja.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Sobremesas</ion-card-subtitle>
      <ion-card-title>Mousse de Maracujá</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 4,99
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/sobremesas/petit_gatau.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Sobremesas</ion-card-subtitle>
      <ion-card-title>Petit Gateau</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 6,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/sobremesas/pudim.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Sobremesas</ion-card-subtitle>
      <ion-card-title>Pudim de Leite Condensado</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 3,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/sobremesas/torta_holandesa.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Sobremesas</ion-card-subtitle>
      <ion-card-title>Torta holandesa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 6,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/sobremesas/torta_prestigio.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Sobremesas</ion-card-subtitle>
      <ion-card-title>Torta Prestígio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Promoção de Hoje R$ 4,99
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer style="text-align: center;">
  <ion-button  routerLink="/"color="danger">Voltar</ion-button> 
</ion-footer>
