<ion-header>
  <ion-toolbar>
    <ion-title>Bebidas</ion-title>
     
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/bebidas/brahma.jpeg"/> 
    <ion-card-header>
      <ion-card-subtitle>Cerveja</ion-card-subtitle>
      <ion-card-title>Brahma</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lata de 269ml promoção R$ 4,99
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/bebidas/heineken.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Cerveja</ion-card-subtitle>
      <ion-card-title>Heineken</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lata de 269ml promoção R$ 6,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/bebidas/skolbeats.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Cerveja</ion-card-subtitle>
      <ion-card-title>Skolbeats</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lata de 269ml promoção R$ 6,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/bebidas/coca_cola.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Refrigerante</ion-card-subtitle>
      <ion-card-title>Coca-Cola</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lata de 269ml promoção R$ 4,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="imgproduto" src="/../../../assets/imagens/bebidas/fanta_laranja.jpeg"/>
    <ion-card-header>
      <ion-card-subtitle>Refrigerante</ion-card-subtitle>
      <ion-card-title>Fanta-Laranja</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lata de 269ml promoção R$ 4,99
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer style="text-align: center;">
  <ion-button  routerLink="/"color="danger">Voltar</ion-button> 
</ion-footer>
